html {background: black}

.container {
width: 100%;
font-family: 'Great Vibes';
/*font-weight: bold;*/
 }

.heightDouble {height: 680px;
	border: 20px solid white;
	background: #134359;}

.heightNormal {

	height: 340px;
	border: 20px solid white;
	background: #134359;
}

.container h2 {
	margin-top: 5%;
	font-size: 10em;
	margin-bottom: 0;
}

.container p {
	font-size: 5em;
	margin-top: 2px;
}