* {
  		box-sizing: border-box;
  		border:none;
  		margin: 0;
  		padding: 0;
 }

.heigth_logo a{
  		color: white;
}

.container {
		width: 70%;
		padding: 4px;
 }

.height_nav {
		height: 800px;
		line-height: 800px;		
}

.heigth_logo {
		height: 60px;
		line-height: 60px;
	}

.heigth_logo li {
		width: 14%;
		background: grey;

}
.heigth_logo ul {
	justify-content: space-between;	
			align-items: center;
			line-height: 30px;
}

.height_nameofpage {
		height: 90px;
		line-height: 90px;
}

.height_nameofpage ul {
flex-direction:row;
justify-content: flex-end;
}

.height_nameofpage h1 {
		font-size: 20px;
		font-weight: bold;	
}
	
.height_nameofpage li {
		width: 9%;}

ul {
		width: 100%;
		height: auto;
		display: inline-flex;
		/*border: 1px solid red;	*/
}


article {
		text-align: left;
		margin: 10px;}

article img { 
		margin: 0 0 10px 0;
		width: 100%;}